<header class="header-11">
    <div class="container">
        <div class="row">
            <nav class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/fr/">
                        <img src="/img/mailsquad-color.svg" width="200" alt="Mailsquad - Logiciel de campagnes emailing en marque blanche pour les agences et professionnels du Web">
                    </a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                <form class="navbar-form pull-right">
                    <a class="btn btn-primary btn-signup" href="https://app.mailsquad.com/login/signup?lang=fr">Essai gratuit</a>
                    <a class="btn-login" href="https://app.mailsquad.com/login?lang=fr">CONNEXION</a>
                    <a style="padding-left:10px;" href="/en/"><img src="/common-files/icons/english.png" alt="English" title="English"></a>
                </form>
                <ul class="nav pull-left">
                    {{ $currentNode := . }}
                    {{ range .Site.Menus.top }}
                    <li {{if or ($currentNode.HasMenuCurrent "top" .) ($currentNode.IsMenuCurrent "top" .) }} class="active" {{end}}><a href="{{.Url}}" >{{.Name}}</a></li>
                    {{ end }}
                </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="header-background"></div>
</header>