.content-25 {
    position:relative;
    padding:95px 0;
    @media (max-width: 767px) {
        padding: 40px 5px;
        .svg, .nosvg {
            display:block;
            text-align:center;
            float:none !important;
            margin-top:45px;
        }
    }
    h2 {
        .font(30px, @text-color-heading);
        font-family:@font-family-demo;
        font-weight: 500;
    }
    h3 {
        color: #0694cc;
        font-size: 42px;
        font-weight: 100;

        .highlight{
            font-weight: 500;
            color: #003354;
        }
    }

    p {
        .font(18px, #aaaaaa);
        margin-top:45px;
        font-weight: 200;
    }
    svg, .svg {
        width: 100%;
    }
    .nosvg {
        display:none;
    }

    .quote-text {
        font-size: 32px;
        color: #2c3e50;
        font-weight: 300;
    }
}
