/**
 * Content 10 stylesheet  
 * */
 .content-10 {
    padding-top: 130px;
    padding-bottom: 125px;
    position:relative;
    .mobile-preview {
        margin-bottom: 0;
        display: inline-block;
        text-align: center;
        margin-top: 80px;
        
        @media (min-width: 992px) {
            margin-top: 0px;
        }
    }
    h3 {
        .font(68px, #444444);
        
        font-weight: 600;

        @media (min-width: 768px) {
            margin-top: 40px;
        }
        @media (min-width: 992px) {
            margin-top: 140px;
        }
        @media (min-width: 1200px) {
          margin-top: 240px;
        }
    }
    p.lead {
        .font(36px, #3c464d);
        font-weight: 200;
    }
}
