/**
 * Content 10 stylesheet  
 * */
 .content-10 {
    padding-top: 130px;
    padding-bottom: 125px;
    position:relative;
    
    h2 {
        .font(68px, #444444);
        font-weight: 600;

        @media (max-width: @screen-sm-max) {
            margin-top: 40px;
            text-align: center;
        }
        @media (min-width: 992px) {
            margin-top: 140px;
            text-align: left;
        }
        @media (min-width: 1200px) {
          margin-top: 240px;
        }
    }
    p.lead {
        .font(36px, #3c464d);
        font-weight: 200;

        @media (max-width: @screen-sm-max) {
            text-align: center;
        }

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    .form-group {
        @media (max-width: @screen-sm-max) {
            text-align: center;
        }

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    .phone-device {
        background: #ffffff;
        border-top: 4px solid #f3f3f3;
        border-left: 4px solid #f3f3f3;
        border-right: 4px solid #f3f3f3;
        border-radius: 50px 50px 0 0;
        display: block;
        padding: 18% 5% 0 5%;
        position: relative;
        bottom: -50px;
        width: 75%;
        margin: auto;

        @media (min-width: 992px) {
            width: 100%;
        }
    }

    .phone-device:after {
        background: #f3f3f3;
        border-radius: 6px;
        content: '';
        display: inline-block;
        left: 39%;
        padding: 2% 11%;
        position: absolute;
        top: 8%;
    }

    .phone-microphone {
        margin-bottom: 20px;
    }

    .phone-screen span {
        background: url(/common-files/img/content/responsive-email-template.jpg) no-repeat 0 0;
        background-size: 100%;
        display: block;
        padding: 85% 0;
        width: 100%;
    }
}

.content-10.support { 
    background-color: #222222;
    h2 {
        .font(68px, #FFFFFF);
        font-weight: 600;

        @media (min-width: 768px) {
            margin-top: 40px;
        }
        @media (min-width: 992px) {
            margin-top: 140px;
        }
        @media (min-width: 1200px) {
            margin-top: 160px;
        }
    }
    p.lead {
        .font(36px, #FFFFFF);
        font-weight: 200;
    }

    .rating {
        margin-top:120px;
        text-align: center;
    }

    .testimonials {
        margin: auto;
        text-align: center;
        color: #FFFFFF;

        @media (max-width: @screen-sm-max) {
            margin-top: 100px;
        }

        @media (min-width: 992px) {
            margin-top: 0px;
        }

        img {
            -khtml-border-radius: 37px;
            -moz-border-radius: 37px;
            -webkit-border-radius: 37px;
            border-radius: 37px;
            width: 75px;
            height: 75px;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        .last .title {
            margin-bottom: 0px;
        }
        > div {
            width: 75%;
            margin:auto;
        }
    }
}
.content-10.features { 
    padding-bottom: 0px;
    background-color: #0092cd;

    h1 {
        .font(68px, #FFFFFF);
        font-weight: 600;
        text-align: center;

        @media (min-width: 768px) {
            margin-top: 40px;
        }

    }

    p.lead {
        color: white;
        text-align: center;
    }

    img {
        bottom:0;
        padding-top: 20px;
    }
}