{{ partial "doctype.html" . }}
<link rel="alternate" href="https://mailsquad.com/fr/revendeur/tarifs/" hreflang="x-default" />
<link rel="alternate" href="https://mailsquad.com/en/reseller/pricing/usd/" hreflang="en" />
<link rel="alternate" href="https://mailsquad.com/en/reseller/pricing/cad/" hreflang="en-ca" />
<link rel="alternate" href="https://mailsquad.com/fr/revendeur/tarifs/eur/" hreflang="fr" />
<link rel="alternate" href="https://mailsquad.com/fr/revendeur/tarifs/cad/" hreflang="fr-ca" />
{{ partial "header.html" . }}
{{ partial "topnav_reseller.html" . }}
{{ .Content }}
{{ partial "footernav.html" . }}
{{ partial "footer.html" . }}
</body>
</html>