<footer class="footer-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div>
                    <a class="brand" href="/">
                        <img src="/img/mailsquad-white.svg" width="150" alt="Mailsquad - Logiciel de marketing courriel en marque blanche pour les agences et professionnels du Web">
                    </a>
                </div>
            </div>
            
            <div class="col-sm-3">
                <h4>Suivez-nous!</h4>
                <form action="https://api.inboxroute.com/subscription/542020b63ecbb00002000002" method="post">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="votre@email.com" required>
                        <span class="input-group-btn">
                            <button class="btn" type="submit">
                                <span class="fui-arrow-right"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="social-btns">
                    <a href="https://twitter.com/mailsquad" title="Twitter - Mailsquad">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                    <a href="https://www.linkedin.com/company/mailsquad" title="Linkedin - Mailsquad">
                        <div class="fui-linkedin"></div>
                        <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/mailsquad" title="Facebook - Mailsquad">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>