<footer class="footer-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div>
                    <a class="brand" href="/">
                        <img src="/img/mailsquad-white.svg" width="150" alt="MailSquad - White-label Email Marketing Solution For Agencies">
                    </a>
                </div>
            </div>
            <nav>
                <div class="col-sm-2">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="http://help.mailsquad.com/support/home">FAQ</a>
                        </li>
                        <!-- <li><a href="http://help.mailsquad.com/support/tickets/new">Open a ticket</a>
                        </li> -->
                        <!-- <li><a href="/fr/politiques/antipourriel/">Politique anti-pourriel</a>
                        </li>
                        <li><a href="/fr/politiques/modalites/">Modalités d'utilisation</a>
                        </li>
                        <li><a href="/fr/politiques/confidentialite/">Politique de confidentialité</a>
                        </li> -->
                        <!-- <li><a href="/api-doc/">API</a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h4>About</h4>
                    <ul>
                        <li><a href="/en/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div class="col-sm-3">
                <h4>Follow us!</h4>
                <form action="https://api.inboxroute.com/subscription/542020b63ecbb00002000002" method="post">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="your@email.com" required="">
                        <input type="hidden" name="lang" value="en">
                        <span class="input-group-btn">
                            <button class="btn" type="submit">
                                <span class="fui-arrow-right"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="social-btns">
                    <a href="https://twitter.com/mailsquad" title="Twitter - Mailsquad">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                    <a href="https://www.linkedin.com/company/mailsquad" title="Linkedin - Mailsquad">
                        <div class="fui-linkedin"></div>
                        <div class="fui-linkedin"></div>
                    </a>
                    <a href="https://www.facebook.com/mailsquad" title="Facebook - Mailsquad">
                        <div class="fui-facebook"></div>
                        <div class="fui-facebook"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>