    <link rel="stylesheet" href="/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="/common-files/css/icon-font.css">
    <link rel="stylesheet" href="/common-files/css/animations.css">
    <link rel="stylesheet" href="/common-files/css/stb.css">
    <link rel="stylesheet" href="/common-files/css/rrssb.css" />

    <link rel="stylesheet" href="/style.css">
    <link rel="icon" 
      type="image/png" 
      href="/img/mailsquad_icon.png">

</head>
<body>
<script type="text/javascript">
    var stb = {
        hascolsed: 'false',
        hide_mobile: 1,
        cookieLife: 30,
        triggerHeight: 50,
        stbElement: ''
    };
</script>
<div id="scrolltriggered" style="width: 325px; right:10px;">
    <div id="inscroll">
        <a href="#close" id="closebox">x</a>
        <h5>Subscribe to our Newsletter</h5>
        <p>Stay informed on the latest email marketing trends</p>
        <ul>
            <li><span>Tips and tricks</span></li>
            <li><span>Latest Blog Post</span></li>
            <li><span>Email templates and more</span></li>
        </ul>
        <form action="https://api.inboxroute.com/subscription/542020b63ecbb00002000002" method="post" id="stbContactForm">
            <div class="input-group">
                <input type="email" class="form-control" name="email" placeholder="your@email.com" required="">
                <input type="hidden" name="submitted" id="submitted" value="false" />
                <input type="hidden" name="lang" value="en">
                <span class="input-group-btn">
                        <button class="btn" type="submit">
                        <span class="fui-arrow-right"></span>
                </span>
            </div>
        </form>
        <p id="stbMsgArea"></p>
    </div>
</div>
<div class="page-wrapper">