<header class="header-11">
    <div class="container">
        <div class="row">
            <nav class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/en/">
                        <img src="/img/mailsquad-color.svg" width="200" alt="MailSquad - White-label Email Marketing Solution For Agencies">
                    </a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                <form class="navbar-form pull-right">
                        <a class="btn btn-primary btn-signup" href="https://app.mailsquad.com/login/signup?lang=en">Sign Up Free</a>
                        <a class="btn btn-login" href="https://app.mailsquad.com/login?lang=en">login</a>
                    </form>
                    <ul class="nav pull-left">
                        {{ $currentNode := . }}
                        {{ range .Site.Menus.top }}
                        <li {{if or ($currentNode.HasMenuCurrent "top" .) ($currentNode.IsMenuCurrent "top" .) }} class="active" {{end}}><a href="{{.Url}}" >{{.Name}}</a></li>
                        {{ end }}
                    </ul>
                    <!-- <a style="position:absolute;top:5px;right:0px;font-size:11px;" href="/fr/">Français</a> -->
                </div>
            </nav>
        </div>
    </div>
    <div class="header-background"></div>
</header>