{{ partial "doctype.html" . }}
{{ partial "header.html" . }}
{{ partial "topnav_reseller.html" . }}
{{ .Content }}
{{ partial "footernav.html" . }}
{{ partial "footer.html" . }}
<script src="/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
<script>
    $("#slider-clients").slider({
        min: 1,
        max: 20,
        value: 5,
        orientation: "horizontal",
        range: "min",
        slide: function( event, ui ) {
            $( "#clients" ).html(  ui.value == 1 ? 1 : ui.value  * 5  );
            computeRevenu();
        }
    });

    $("#slider-margin").slider({
        min: 1,
        max: 10,
        value: 2,
        orientation: "horizontal",
        range: "min",
        slide: function( event, ui ) {
            $( "#margin,#marginl" ).html(  ui.value * 10 );
            computeRevenu();
        }
    });

    $("#slider-subscribers").slider({
        min: 1,
        max: 12,
        value: 4,
        orientation: "horizontal",
        range: "min",
        slide: function( event, ui ) {
        var map_subscribers = {
            1 : "1&nbsp;-&nbsp;500",
            2 : "501&nbsp;-&nbsp;1000",
            3 : "1001&nbsp;-&nbsp;2500",
            4 : "2501&nbsp;-&nbsp;5000",
            5 : "5001&nbsp;-&nbsp;10000",
            6 : "10001&nbsp;-&nbsp;15000",
            7 : "15001&nbsp;-&nbsp;25000",
            8 : "25001&nbsp;-&nbsp;50000",
            9 : "50001&nbsp;-&nbsp;60000",
            10: "60001&nbsp;-&nbsp;75000",
            11: "75001&nbsp;-&nbsp;85000",
            12: "85001&nbsp;-&nbsp;100000",
        };

        $( "#subscribers" ).html(  map_subscribers[ui.value]  );
            computeRevenu();
        }
    });

    function computeRevenu() {
        var discount = [11, 21, 41, 76, 100];
        var clients = $( "#clients" ).html() * 1;
        var perc;
        for (perc = 0; perc < discount.length; ++perc) {
            if (discount[perc] > clients) {
                break;
            }
        }

        perc = 1 - (perc/10);

        var map_plans_prices = {
            "1&nbsp;-&nbsp;500" : 8,
            "501&nbsp;-&nbsp;1000" : 12,
            "1001&nbsp;-&nbsp;2500" : 25,
            "2501&nbsp;-&nbsp;5000" : 40,
            "5001&nbsp;-&nbsp;10000" : 65,
            "10001&nbsp;-&nbsp;15000" : 105,
            "15001&nbsp;-&nbsp;25000" : 129,
            "25001&nbsp;-&nbsp;50000" : 199,
            "50001&nbsp;-&nbsp;60000" : 259,
            "60001&nbsp;-&nbsp;75000" : 315,
            "75001&nbsp;-&nbsp;85000" : 350,
            "85001&nbsp;-&nbsp;100000" : 399,
        };

        var margin = $( "#margin" ).html() * 1;
        var subscribers = $( "#subscribers" ).html();
        var clientPrice = map_plans_prices[subscribers]*((margin/100)+1);
        var mqPrice = map_plans_prices[subscribers]*perc;

        var total = clients * (clientPrice - mqPrice) * 12;
        $("#revenue").html(formatPrice(total));
    }
    function formatPrice(price) {
        return "&#36;&nbsp;" + price.toFixed(2).replace(".", ",");
    }
</script>
</body>
</html>