{{ partial "doctype.html" . }}
{{ partial "header.html" . }}
{{ partial "topnav.html" . }}
<!-- <section class="projects-1">
    <div class="container">
        <div class="title">
			 {{ $currentNode := . }}
			 {{ range .Site.Menus.top }}
			 	{{ if and ($currentNode.HasMenuCurrent "top" .) (.HasChildren) }}
					{{ range .Children }}
	            	<a href="{{.Url}}" {{if $currentNode.IsMenuCurrent "top" . }} class="active" {{end}}>{{.Name}}</a>
					{{ end }}
				 {{ end }}
			 {{ end }}
        </div>
    </div>
</section> -->
{{ .Content }}
{{ partial "footernav.html" . }}
{{ partial "footer.html" . }}
</body>
</html>