{{ partial "doctype.html" . }}
<link rel="alternate" href="https://mailsquad.com/fr/prix/" hreflang="x-default" />
<link rel="alternate" href="https://mailsquad.com/en/pricing/usd/" hreflang="en" />
<link rel="alternate" href="https://mailsquad.com/en/pricing/cad/" hreflang="en-ca" />
<link rel="alternate" href="https://mailsquad.com/fr/prix/eur/" hreflang="fr" />
<link rel="alternate" href="https://mailsquad.com/fr/prix/cad/" hreflang="fr-ca" />
{{ partial "header.html" . }}
{{ partial "topnav.html" . }}

{{ .Content }}

{{ partial "footernav.html" . }}
{{ partial "footer.html" . }}

</body>
</html>