<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Marketing email simple et abordable - MailSquad</title>
    <meta name="description" content="Solution d'email marketing abordable et facile d'utilisation">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="alternate" href="https://mailsquad.com/" hreflang="x-default" />
    <link rel="alternate" hreflang="en" href="https://mailsquad.com/en/" />
    <link rel="alternate" hreflang="fr" href="https://mailsquad.com/fr/" />
    {{ partial "header.html" . }}
    {{ partial "topnav.html" . }}
    <section class="header-11-sub bg-midnight-blue">
        <div class="background fr">
            &nbsp;
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-8 col-lg-7 readable">
                    <h1>Email marketing simplifié</h1>
                    <p class="lead">MailSquad offre une plateforme intuitive et abordable qui vous permet de créer et envoyer des emails éblouissants.</p>
                    <div class="signup-form">
                        <div class="form-group">
                            <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u?lang=fr">ESSAYER GRATUITEMENT PENDANT 30 JOURS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-10">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <!-- <h2>Des emails qui s'affichent correctement partout</h2> -->
                    <h2>Affichage mobile déjà&nbsp;optimisé</h2>
                    <p class="lead">L'éditeur email de MailSquad assure un affichage adéquat sur tous les appareils mobiles grâce à ses templates adaptés.</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u?lang=fr">Essayez gratuitement</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="phone-device">
                        <div class="phone-microphone"></div>
                        <div class="phone-screen"><span class="fr"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-24 track">
        <img class="image" src="../../img/screenshots/detailed-real-time-report.png" alt="Rapports détaillés en temps réel">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-6">
                    <h2>Statistiques en temps réel</h2>
                    <p class="lead">Des rapports détaillés, en temps réel. Soyez à l'affût de qui a ouvert, cliqué et partagé votre email !</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u?lang=fr">Essayez gratuitement</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-10 support">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <h2>Soutien à la clientèle exceptionnel</h2>
                    <p class="lead">Besoin d'un coup de main? Notre service à la clientèle extraordinaire est au bout du fil.</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="/fr/contact/">Des questions? Nous sommes là pour vous aider!</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 testimonials">
                    <div>
                        <div>
                            <blockquote>J'ai utilisé plusieurs fournisseurs de newsletter dans le passé et le service à la clientèle de MailSquad est imbattable!</blockquote>
                        </div>
                        <div class="text-center"><img src="/img/jeff_additif.jpg" alt="Jeff @ Additif"></div>
                        <div class="title text-center">Jeff @ <a href="http://additif.ca/" target="_blank">Additif</a></div>
                    </div>
                    <div>
                        <div>
                            <blockquote>Lorsque nous sommes passés à MailSquad, leur service clé en main nous a sauvé une tonne de temps.</blockquote>
                        </div>
                        <div class="text-center"><img src="/img/hugo_ixmedia.jpg" alt="Hugo @ IXmedia"></div>
                        <div class="title text-center">Hugo @ <a href="http://ixmedia.com/" target="_blank">IXmedia</a></div>
                    </div>
                    <!-- <div class="last">
                        <div>
                            <blockquote>MailSquad offre bien plus qu'un simple soutien à la clientèle, ils ont comme mission d'assurer notre succès!</blockquote>
                        </div>
                        <div class="text-center"><img src="/img/jean_francois_giroux_adn.jpg" alt="JF @ ADN Communication"></div>
                        <div class="title text-center">JF @ <a href="http://adncomm.com/" target="_blank">ADN Communication</a></div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <section class="price-2 home">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Commencez pour seulement 9&nbsp;$&nbsp;par&nbsp;mois</h2>
                    <p class="lead">C'est facile, abordable et notre service à la clientèle est génial!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <a href="/fr/tarifs/">
            <div class="plans">
                <div class="plan">
                    <div class="top"></div>
                    <div class="title">
                        PETITE LISTE
                        <div class="price"><span class="currency">$</span>9<span class="period">/ MO</span></div>
                        <p>Envoyez un nombre illimité d'emails jusqu'à 500&nbsp;abonnés uniques</p>
                    </div>
                </div>
                <div class="plan plan-2">
                    <div class="top"></div>
                    <div class="title">
                        LISTE MOYENNE
                        <div class="price"><span class="currency">$</span>49<span class="period">/ MO</span></div>
                        <p>Envoyez un nombre illimité d'emails jusqu'à 5&nbsp;000&nbsp;abonnés uniques</p>
                    </div>
                    <div class="top"></div>
                </div>
                <div class="plan">
                    <div class="top"></div>
                    <div class="title">
                        GROSSE LISTE
                        <div class="price"><span class="currency">$</span>159<span class="period">/ MO</span></div>
                        <p>Envoyez un nombre illimité d'emails jusqu'à 25&nbsp;000&nbsp;abonnés uniques</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="lead">Il est aussi possible de payer à l'utilisation. <br /><a href="/fr/tarifs/">Voir tous les plans de routage</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="content-11">
        <div class="container">
            <span>Découvrez MailSquad! Profitez d'un essai gratuit de 30 jours!</span>
            <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u?lang=fr?lang=fr">Essayer maintenant</a>
        </div>
    </section>
    {{ partial "footernav.html" . }}
    </div>
    <script src="/common-files/js/jquery-1.10.2.min.js"></script>
    <script src="/common-files/js/startup-kit.js"></script>
    <script type="text/javascript">var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";s.defer=true;s.src="https://salesiq.zoho.com/mailsquadchat/float.ls?embedname=mailsquadchat";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52189624-3', 'auto');
    ga('send', 'pageview');
    </script>
    </body>
</html>