<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Marketing Made Easy - MailSquad</title>
    <meta name="description" content="Email marketing solution for agencies">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="alternate" href="https://mailsquad.com/" hreflang="x-default" />
    <link rel="alternate" hreflang="fr" href="https://mailsquad.com/fr/" />
    <link rel="alternate" hreflang="en" href="https://mailsquad.com/en/" /> 
    {{ partial "header.html" . }}
    {{ partial "topnav.html" . }}
    <section class="header-11-sub bg-midnight-blue">
        <div class="background">
            &nbsp;
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-8 col-lg-7 readable">
                    <h1>Email Marketing Made Easy</h1>
                    <p class="lead">MailSquad offers an affordable and super easy way to create, send and track delightful emails.</p>
                    <div class="signup-form">
                        <div class="form-group">
                            <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u">Start Your 30-Day Free Trial Today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-10">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <h2>Emails that work on every device</h2>
                    <p class="lead">MailSquad's Easy Email Designer creates mobile friendly templates that look great on any device.</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u">Get started for free</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="phone-device">
                        <div class="phone-microphone"></div>
                        <div class="phone-screen"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content-24 track">
        <img class="image" src="../../img/screenshots/detailed-real-time-report.png" alt="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-6">
                    <h2>Track your success in&nbsp;real-time</h2>
                    <p class="lead">For every campaign, you get a detailed set of real-time reports to track who opened it, who shared it, and much more!</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u">Try it out for free</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!--  <section class="content-26 home">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>Get started for as low as 8 $ per month</h2>
                    <p class="lead">It's easy and affordable, what more?</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="https://app.mailsquad.com/login/signup/u">start sending today</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="content-10 support">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <h2>Fanatical customer support</h2>
                    <p class="lead">Need a helping hand? Our awesome customer service is just a click or call away!</p>
                    <div class="form-group">
                        <a class="btn btn-primary" href="/en/contact/">Ask us anything, we're here to help!</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 testimonials">
                    <div>
                        <div>
                            <blockquote>I've used other newsletter services and MailSquad's customer service is simply off the charts! MailSquad just rocks!</blockquote>
                        </div>
                        <div class="text-center"><img src="/img/jeff_additif.jpg"></div>
                        <div class="title text-center">Jeff @ <a href="http://additif.ca/" target="_blank">Additif</a></div>
                    </div>
                    <div>
                        <div>
                            <blockquote>MailSquad goes beyond customer support, they are literally on a mission to make you succeed!</blockquote>
                        </div>
                        <div class="text-center"><img src="/img/hugo_ixmedia.jpg"></div>
                        <div class="title text-center">Hugo @ <a href="http://ixmedia.com/" target="_blank">IXmedia</a></div>
                    </div>
                    <div class="last">
                        <div>
                            <blockquote>When I switched from another provider their concierge services saved me a day's work. Totally worth it!</blockquote>
                        </div>
                        <div class="text-center"><img src="/img/jeff_additif.jpg"></div>
                        <div class="title text-center"><a href="http://adncomm.com/" target="_blank">ADN Communication</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="price-2 home">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Get started for as low as 8&nbsp;$&nbsp;per&nbsp;month</h2>
                    <p class="lead">It's easy, affordable and our customer service is awesome!</p>
                </div>
            </div>
        </div>
        <div class="container">
            <a href="/en/pricing/">
            <div class="plans">
                <div class="plan">
                    <div class="top"></div>
                    <div class="title">
                        SMALL LIST
                        <div class="price"><span class="currency">$</span>8<span class="period">/ MO</span></div>
                        <p>Send unlimited emails up to 500&nbsp;unique contacts</p>
                    </div>
                </div>
                <div class="plan plan-2">
                    <div class="top"></div>
                    <div class="title">
                        AVERAGE LIST
                        <div class="price"><span class="currency">$</span>40<span class="period">/ MO</span></div>
                        <p>Send unlimited emails up to 5&nbsp;000&nbsp;unique contacts</p>
                    </div>
                    <div class="top"></div>
                </div>
                <div class="plan">
                    <div class="title">
                        BIG LIST
                        <div class="price"><span class="currency">$</span>129<span class="period">/ MO</span></div>
                        <p>Send unlimited emails up to 25&nbsp;000&nbsp;unique contacts</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="lead">Pay as you go pricing also available. To see all plans, <a href="/en/pricing/">click here</a>.</p>
                </div>
            </div>
        </div>
    </section>
    {{ partial "footernav.html" . }}
    </div>
    <script src="/common-files/js/jquery-1.10.2.min.js"></script>
    <script src="/common-files/js/startup-kit.js"></script>
    <script src="/common-files/js/jquery.cookie.js"></script>
    <script type="text/javascript">var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";s.defer=true;s.src="https://salesiq.zoho.com/mailsquadchat/float.ls?embedname=mailsquadchat";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52189624-3', 'auto');
    ga('send', 'pageview');
    </script>
    </body>
</html>