<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Title}} - MailSquad</title>
    <meta name="description" content="Email marketing solution for agencies">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="alternate" hreflang="fr" href="https://mailsquad.com/fr/" /> 
    {{ partial "header.html" . }}
    {{ partial "topnav.html" . }}
    <section class="header-11-sub bg-midnight-blue">
        <div class="background">
            &nbsp;
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-11 col-md-8 col-lg-7">
                    <h1>The only email marketing platform for agencies</h1>
                    <p class="lead">Stop sending your clients to third-party email service providers. What’s in it for you anyway?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-sm-6 col-md-5 col-lg-4">
                    <div class="signup-form">
                        <form>
                            <div class="form-group">
                                <div style="font-size:28px;font-weight:600;color:#3498db;">Try MailSquad risk-free!</div>
                            </div>
                            <!--
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter your email">
                            </div>
                            -->
                            <div class="form-group">
                                <a class="btn btn-block btn-info" href="https://app.mailsquad.com/login/signup?lang=en">Get my FREE 30-day trial!</a>
                            </div>
                        </form>
                    </div>
                    <div class="additional-links">
                        By signing up you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- content-25  -->
    <section class="content-25">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Best-in-class agencies rely on MailSquad</h3>
                    <p>
                        Do you develop email campaigns for your clients? Are you looking to increase client loyalty and boost your revenues? Do you want to slash the time it takes to create email campaigns for your clients—without sacrificing their effectiveness?
                    </p>
                    <p>Then, it’s time we talk!</p>
                    <p>
                        MailSquad is the only email marketing platform that has been designed by agency veterans for agencies in the trenches. Rather than offering our turnkey email campaign solution directly to your customers, we only provide our email pizazz to you—the ad and web agencies that work ‘round the clock to create stellar email campaigns for brand-names and up-and-coming stars.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img class="pull-right nosvg" src="" alt="" width="402" height="401">
                </div>
            </div>
        </div>
    </section>
    <section class="content-27" id="commentcamarche">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    
                </div>
                <div class="col-sm-9 col-sm-offset-1">
                    <h2>Easy to implement and even easier to use!</h2>
                    <p class="lead">MailSquad takes into account all the challenges an agency can face when deploying client email campaigns:</p>
                    <dl>
                        <dt>Minimum training and user expertise level required.</dt>               
                        <dt>Fully customize templates with our intuitive editor. Just drag and drop!</dt>                    
                        <dt>Spend less time fiddling with the layout--and more time on the campaign’s strategy and execution.</dt>
                        <dt>Understand (in a blink of an eye) how well the campaigns are doing. No PhD needed. Seriously.</dt>
                        <dt>Blaze through the billing process with automatic invoicing. Ahhhh….less admin tasks are just ‘round the corner!</dt>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <section class="content-36">
        <div class="container">
            <h2>If you are looking to finally take back control of your clients’ email marketing campaigns, you’ve come to the right place.</h2>
            <a class="btn btn-success" href="#">sign up free</a>
            <p>Take a sneak peek at our FREE 30-day trial or contact us today for quick and painless demo (we promise!)!</p>
        </div>
    </section>
    <section class="content-26">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>Get ready to generate more revenues for your business.</h3>
                    <p class="lead">Whether you send out emails by the ton or just starting out, we have a package that is sure to meet your needs. In addition, you can automatically charge your client’s credit card account for seamless invoicing like you’ve never experienced before.</p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-3 col-sm-offset-1">
                    <h6 style="height: 60px;">Number of subscribers (<span id="subscribers">2501 - 5000</span>)</h6>
                    <div id="slider-subscribers" class="ui-slider"></div>
                </div>
                <div class="col-sm-4">
                    <h6 style="height: 60px;">Number of clients (<span id="clients">10</span>)</h6>
                    <div id="slider-clients" class="ui-slider"></div>
                </div>
                <div class="col-sm-3">
                    <h6 style="height: 60px;">Markup (<span id="margin">20</span> %)</h6>
                    <div id="slider-margin" class="ui-slider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="padding-top:30px;">
                    <h3>You could generate up to <span id="revenue">$ 1176,00</span> / year</h3>
                    <p class="lead">For a full featured calculator <a href="#">click here</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="price-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>What about pricing?</h3>
                    <p class="lead">Check out just how little your clients will pay each month! Simply charge them the set monthly fee and add your margin to rake in the rest. Want to know just how much you could make a year?</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="plans">
                <div class="plan">
                    <div class="title">
                        SMALL LIST
                        <div class="price"><span class="currency">$</span>9<span class="period">/ MO</span></div>
                        <p>Send unlimited emails up to 500 unique contacts</p>
                    </div>
                </div>
                <div class="plan plan-2">
                    <div class="title">
                        AVERAGE LIST
                        <div class="price"><span class="currency">$</span>79<span class="period">/ MO</span></div>
                        <p>Send unlimited emails up to 10 000 unique contacts</p>
                    </div>
                </div>
                <div class="plan">
                    <div class="title">
                        BIG LIST
                        <div class="price"><span class="currency">$</span>309<span class="period">/ MO</span></div>
                        <p>Send unlimited emails up to 50 000 unique contacts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="lead">Pay as you go also available. To see all plans, <a href="#">click here</a>.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="content-11">
        <div class="container">
            <span>Give MailSquad a spin! Get your FREE 30-day trial!</span>
            <a class="btn btn-large btn-danger" href="https://app.mailsquad.com/login/signup?lang=en">START NOW</a>
        </div>
    </section>
    {{ partial "footernav.html" . }}
    </div>
    <script src="/common-files/js/jquery-1.10.2.min.js"></script>
    <script src="/common-files/js/startup-kit.js"></script>
    <script src="/js/jquery.scrolldepth.min.js"></script>
    <script src="/common-files/js/jquery.cookie.js"></script>
    <script src="/common-files/js/stb_init.js"></script>
    <script src="/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script>
    jQuery(function() {
        jQuery.scrollDepth({
            elements: ["#top3", "#commentcamarche", "#solution-marketing-courriel-marque-blanche", "#pourquoi", "#source-revenus", "#experience-client-personnalise", "#support"],
            percentage: false,
        });
    });
    </script>
    <script>
        $("#slider-clients").slider({
            min: 1,
            max: 20,
            value: 10,
            orientation: "horizontal",
            range: "min",
            slide: function( event, ui ) {
                $( "#clients" ).html(  ui.value == 1 ? 1 : ui.value  * 5  );
                computeRevenu();
              }
          });

        $("#slider-margin").slider({
            min: 1,
            max: 10,
            value: 2,
            orientation: "horizontal",
            range: "min",
            slide: function( event, ui ) {
                $( "#margin,#marginl" ).html(  ui.value * 10 );
                computeRevenu();
              }
          });

        $("#slider-subscribers").slider({
            min: 1,
            max: 12,
            value: 4,
            orientation: "horizontal",
            range: "min",
            slide: function( event, ui ) {
            var map_subscribers = {
                1 : "1 - 500",
                2 : "501 - 1000",
                3 : "1001 - 2500",
                4 : "2501 - 5000",
                5 : "5001 - 10000",
                6 : "10001 - 15000",
                7: "15001 - 25000",
                8: "25001 - 50000",
                9: "50001 - 60000",
                10: "60001 - 75000",
                11: "75001 - 85000",
                12: "85001 - 100000",
            };

            $( "#subscribers" ).html(  map_subscribers[ui.value]  );
            computeRevenu();
            }
        });

        function computeRevenu() {
            var discount = [11, 21, 41, 76, 100];

            var clients = $( "#clients" ).html() * 1;

            var perc;
            for (perc = 0; perc < discount.length; ++perc) {
                if (discount[perc] > clients) {
                    break;
                }
            }

            perc = 1 - (perc/10);

            var map_plans_prices = {
                    "1 - 500" : 9,
                    "501 - 1000" : 14,
                    "1001 - 2500" : 29,
                    "2501 - 5000" : 49,
                    "5001 - 10000" : 79,
                    "10001 - 15000" : 129,
                    "15001 - 25000" : 159,
                    "25001 - 50000" : 239,
                    "50001 - 60000" : 309,
                    "60001 - 75000" : 379,
                    "75001 - 85000" : 419,
                    "85001 - 100000" : 479,
                };

            var margin = $( "#margin" ).html() * 1;
           
            var subscribers = $( "#subscribers" ).html();
            var clientPrice = map_plans_prices[subscribers]*((margin/100)+1);
            var mqPrice = map_plans_prices[subscribers]*perc;

            var total = clients * (clientPrice - mqPrice) * 12;
            $("#revenue").html(formatPrice(total));
        }
        function formatPrice(price) {
            return "&#36;&nbsp;" + price.toFixed(2).replace(".", ",");
        }
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-52189624-3', 'auto');
    ga('send', 'pageview');
    </script>
    </body>

</html>
